@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

ul{
    display: flex;
    justify-content: center;  
}

li{
    list-style-type: none;
    padding-left: 10px;
    padding-right:10px;
}

a{
    text-decoration: none;
    color:black ;
}

.botão-secundario{
    border: 2px solid black ;
    border-radius: 5px;
}
   
.topo img{
    width: 40px;
}

.corpo{
    background-color: #E4B1AB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.esquerda{
    display: flex;
    flex-direction:column ;
    padding-left: 80px;    //espaçamento da lateral 
}

p{
    color: white;  
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 30px;
    // espaçamento para baixo

}

h1{
    color: white;
    font-size: 40px;
    font-weight: 900;
}

.botao-primario{
    background-color:#FFFF;
    color: #E4B1AB;
    font-size: 28px;
    border-radius: 10px;
    text-align: center;
    padding: 10px; ;
}

p,h1{
    padding-top: 16px;
}
