@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --rosa: #E4B1AB;
    --branco: #FFFFFF;
    --preto: #000000;
    --rosa_claro: #FDE1DE;
}

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
    /* padding-left: 50px;
    padding-right: 50px; */
}

.topo{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;

}

ul{
    display: flex;
    justify-content: center;  
    align-items: center;
}

li{
    list-style-type: none;
    padding-left: 10px;
    padding-right:10px;
}

a{
    text-decoration: none;
    color:black ;
}

.botão-secundario{
    padding: 0.4rem 0.5rem;
   background-color: var(--rosa);
   color: var(--branco);
    border-radius: 5px;
}

.topo  .botão-secundario:hover{
    background-color: var(--rosa_claro); 
    color: var(--rosa)
}
   
.topo img{
    width: 40px;
}

.corpo{
    background-color: var(--rosa);
    padding-left: 80px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

 
}
.corpo h1{
    font-size: 56px;
}

.corpo p{
    font-size: 30px;
    color: var(--branco);
}

.direita{
    width: 40%;
    height: 600px;
}
.direita img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.corpo .esquerda .botao-primario:hover{
    background-color: var(--rosa_claro); 
    color: var(--branco)
}


.esquerda{
    display: flex;
    flex-direction:column ;
    justify-items: center;

}

p{
    /*color: white;*/  
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 30px;
    /*espaçamento para baixo*/

}

h1{
    color: var(--branco);
    font-size: 40px;
    font-weight: 900;
}

.botao-primario{
    background-color: var(--branco);
    color: var(--rosa);
    font-size: 28px;
    border-radius: 10px;
    text-align: center;
    padding: 10px; ;
}

p,h1{
    padding-top: 16px;
}

.botao-produtos{
    background-color: var(--rosa);
    color: var(--branco);
    font-size: 28px;
    border-radius: 10px;
    text-align: center;
    padding: 10px; ;
}

#produtos {
    display: flex;
    max-width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    padding-top: 100px;
}

.produtos {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 80px;
}

.produtos .botao-primario {
    text-align: center;
}

.produto {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    align-items: center;
    justify-content: baseline;
  
}

.produto .botao-produtos{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.produto .botao-produtos:hover{
    background-color: var(--rosa_claro); 
    color: var(--rosa)
}




.produto img{
    width: 500px;
    height: 700px;
    object-fit: cover;
}

.produto a {
    width: 200px;
}

h2 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

h3 {
    font-weight: normal;
    font-size: 26px;
}

#beneficios {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.beneficios {
    padding: 0 100px;
    display: flex;
    gap: 140px;
    justify-content: center;
    align-items: center;
}

.beneficio-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    width: 100%;
}

.beneficio {
    display: flex;
    flex-direction: column;
    width: 100%; 
    color:var(--preto);
}

.beneficio h4 {
    font-size: 20px;
}

.beneficio p {
    text-align: center;
    font-size: 16px;
}

#beneficios .botao-primario {
    padding: 10px 50px;
    background-color: var(--rosa);
    color: var(--branco);
}

#beneficios .botao-primario:hover{
    background-color: var(--rosa_claro); 
    color: var(--rosa)
}


#sobre-nos{
    background-color: var(--branco);
    padding-right: 80px;
    margin: 60px 0;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    height: 600px;
 
}

#sobre-nos .direita .botao-primario:hover{
    background-color: var(--rosa_claro); 
    color: var(--rosa)
}
#sobre-nos h2{
    text-align: start;
    font-size: 56px;
}

#sobre-nos p{
    font-size: 20px;
    color: #606060;
}

#sobre-nos h2{
    color: var(--preto);
}

#sobre-nos .direita{
    height: 600px;
    align-items: center;
    width: 40%;
}
#sobre-nos .esquerda img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#sobre-nos .esquerda{
    display: flex;
    height: 600px;
    width: 50%;
    flex-direction:column ;
    justify-items: center;

}

#sobre-nos .botao-primario {
    padding: 10px 50px;
    background-color: var(--rosa);
    color: var(--branco);
}

footer {
    background-color: var(--rosa);
    color: var(--branco);
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
}

footer img {
    width: 50px;
}

footer p {
    font-size: 16px;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

footer h5 {
    font-size: 16px;
    padding-bottom: 16px;
}

footer li {
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    transition: opacity 0.6s ease;
    cursor: pointer;
}

footer li:hover {
    opacity: 60%;
}

.icons {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
}

.icons  a {
    color: var(--branco);
}

footer {
    background-color: var(--rosa);
    color: var(--branco);
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
}

footer img {
    width: 50px;
}

footer p {
    font-size: 16px;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

footer h5 {
    font-size: 16px;
    padding-bottom: 16px;
}

footer li {
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    transition: opacity 0.6s ease;
    cursor: pointer;
}

footer li:hover {
    opacity: 60%;
}

.icons {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
}



.botao-menu {
    display: none;
}


.botao-menu-close {
    display: none;
}

@media only screen and (max-width: 768px) {
    .menu-lateral {
        display: block;
        position: fixed;
        top: 0;
        left: -250px; /* Esconde o menu fora da tela */
        width: 250px;
        height: 100%;
        background-color: var(--roxo-medio); /* Cor de fundo do menu */
        transition: left 0.3s ease;
        z-index: 1000; /* Garante que o menu esteja acima de outros elementos */
        flex-direction: column;
    }

    .botao-menu-close {
        display: none;
    }

    .menu-lateral.aberto {
        left: 0;
    }

    .menu-lateral.aberto .botao-menu-close {
        display: block;
    }

    .menu-lateral ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 20px;
    }

    .menu-lateral ul li {
        margin-bottom: 10px;
    }

    .menu-lateral ul li a {
        color: var(--branco);
        text-decoration: none;
        font-size: 18px;
    }

    .botao-primario {
        display: none;
    }

    .botao-menu {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        background-color: transparent;
        border: none;
        color: var(--roxo-mais-escuro);
        font-size: 20px;
        cursor: pointer;
        z-index: 999; /* Garante que o botão esteja acima do menu */
    }

    .menu-lateral ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        text-align: left;
    }

    .corpo{
        padding: 0 10px;
    }

    .corpo h1{
        font-size: 40px;
        text-align: center;
    }

    .corpo p{
        font-size: 20px;
        text-align: center;
    }

    .corpo .esquerda{
        flex: 1;
    }


    .topo img {
        display: none;
    }

    #inicio {
        flex-direction: column-reverse;
        text-align: center;
        height: auto;
    }

    #inicio .esquerda {
        align-items: center;
    }

    #inicio .esquerda, .direita {
        width: 100%;
    }

    #inicio .direita img {
        width: 50%;
    }

    h2 {
        font-weight: bold;
        font-size: 36px;
        text-align: center;
    }

    h3 {
        font-weight: normal;
        font-size: 18px;
    }

    #produtos {
        padding: 0;
    }

    .produtos {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 26px;
        padding: 0;
       
    }

    .produto {
        gap: 16px;
        padding-top: 20px;
    }

    .produto img{
        width: 100%;
       
    }

    #beneficios {
        padding: 30px 0;
        gap: 50px;
    }

    .beneficios {
        padding: 0 100px;
        display: flex;
        gap: 60px;

    }

    .beneficios {
        flex-direction: column;
    }

    #sobre-nos {
        flex-direction: column;
        padding: 20px 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-top: 0;
    }

    #sobre-nos .esquerda h2, p{
        width: auto;
    }

    #sobre-nos .esquerda{
        width: 100%;
    }

    #sobre-nos .esquerda img {
        width: 100%;;
    }

    #sobre-nos .direita {
        width: auto;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer ul {
        text-align: start;
    }
}